/*Keyframes for background animation*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*Main Body Style*/
html,body{
	margin:0;
	height: 100%;
	overflow: hidden;
}
body{
  font-family: Helvetica;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
/*Style of the container of the 3 different wraps*/
.container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-perspective: 800;
}
/*Styling of the 3 different wrappers*/
.ToDo-task-wrapper, .Weather-task-wrapper, .Tetris-wrapper{
  margin:6px;
  width:29vw;
  display:flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  padding:5px;
  cursor:pointer;
	transition: 2s ease-in;
}
.ToDo-task-wrapper:hover, .Weather-task-wrapper:hover, .Tetris-wrapper:hover{
  border-radius:5px;
}
.ToDo-task-wrapper h2, .ToDo-task-wrapper p, .Weather-task-wrapper h2, .Weather-task-wrapper p,.Tetris-wrapper h2, .Tetris-wrapper p{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
	font-size:1.9vw;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ToDo-task-wrapper p, .Weather-task-wrapper p,.Tetris-wrapper p{
	font-size:1.5vw;
}
/*The Flipping animation executed by user click*/
.container .ToDo-task-wrapper.flipped, .container .Weather-task-wrapper.flipped, .container .Tetris-wrapper.flipped {
  -webkit-transform: rotatex(-180deg);
  cursor:auto;
}
.container .ToDo-task-wrapper, .container .Weather-task-wrapper, .container .Tetris-wrapper {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.container .ToDo-task-wrapper .face, .container .Weather-task-wrapper .face, .container .Tetris-wrapper .face  {
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.container .ToDo-task-wrapper .front ,.container .Weather-task-wrapper .front, .container .Tetris-wrapper .front {
  z-index: 1;
  color: #000;
  margin-left: 7%;
  font-family: CenturyGothic;
  text-align: center;
  cursor:pointer;
}
.container .ToDo-task-wrapper .back, .container .Weather-task-wrapper .back, .container .Tetris-wrapper .back {
  -webkit-transform: rotatex(-180deg);
  width: 100%;
  margin-left: -26.5vw;
}
/*The ToDO wrapper styling*/
#FrontText{
  width:13em;
}
#SaveText{
  font-size: 1.1vw;
  font-style: italic;
	font-weight: bolder;
  margin-top:0;
  display: none;
}
.ToDo-task-wrapper h2, .Weather-task-wrapper h2{
  font-weight: 600;
}
/*CheckBox near input*/
.InputField{
  display: inline-flex;
}
.checkboxContainer {
  display: block;
  position: relative;
  margin-top: 7px;
  margin-right: 5px;
  padding-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}
.checkboxContainer .checkmark:after {
  left: 3.344px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Input*/
#todo-entry{
  border-radius: 7px;
  padding: 5px;
	font-size:1.2vw;
  text-align: center;
  border: 2px solid #b4b4b4;
}
/*The List*/
#todo-list{
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  padding: 5px 0 5px 0;
  border:2.5px solid #d3d3d3;
  border-radius: 10px;
}
#todo-list li:nth-child(even){
  background-color: #b4b4b461;
}
#todo-list li:nth-child(odd){
  background-color: #a09f9fad;
}
#todo-list li{
  font-weight: 400;
	font-size: 1.2vw;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
  page-break-inside: auto;
  break-inside: auto;
}
/*The Buttons*/
.Buttons{
  color:#fff;
  font-weight: 550;
  font-size:1.26vw;
  border-style: none;
  padding:3.5px;
  border-radius: 10px;
  cursor: pointer;
}
#done-button{
  background-color: #03bafc;
}
#done-button:hover{
  background-color: #03bafc9c;
}
#button-add{
  margin-left: 5px;
  margin-bottom: 15px;
  padding: 5px;
}
#save-button{
	margin:5px;
}
#button-add, #save-button{
  background-color:#68ca1e;
}
#button-add:hover, #save-button:hover{
  background-color: #68ca1eb3;
}
#remove-button{
  background-color:#f71d06f5;
}
#remove-button:hover{
  background-color: #f71d06a6;
}
/*Weather app wrapper*/
.container .Weather-task-wrapper .back {
	margin-left: -26.75vw;
}
/*Header of wrapper*/
.Weather-title{
    width: 29vw;
    border-radius: 10px 10px 0 0;
}
.Weather-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}
.Notification{
    display: none;
}
.Notification p{
    font-size: 1.5vw;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}
.Weather-Info{
		width: 29vw;
		background-color: transparent;
}
/*Weather Icon Changes depending on data received*/
.WeatherIcon{
    width: 29vw;
}
.WeatherIcon img{
    display: block;
    margin: 0 auto;
}
/*Weather value changes between Celsius and Fahrenheit*/
.TemperatureValue span{
    font-size: 0.7em;
}
.TemperatureValue{
		width: 29vw;
		margin-top: -10px;
		font-size: 2.5vw;
		cursor: pointer;
		transition: opacity .35s ease-in-out;
		font-weight: 600;
		text-transform: capitalize;
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}
/*Description of weather*/
.TemperatureDesc {
		margin: 5px;
    font-size: 1.4vw;
		text-transform: capitalize;
		font-weight: 600;
}
.Weather-task-wrapper .DescOfFunc{
		border-top: 1px solid #b8b4b4;
		font-weight: 600;
		font-size: 1.2vw;
		padding: 10px;
		margin-top: 20px;
}
/*Location of the place the data is about*/
.Location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.5vw;
}
/*Tetris wrapper*/
.Tetris-wrapper .score-wrapper{
	font-size: 1.25vw;
	line-height: 1.25;
	font-weight: 600;
}
.Tetris-wrapper #score{
	font-weight:bold;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.Tetris-wrapper #tetris-game{
		display: block;
		margin:0 auto;
		border: 2.5px solid black;
		position: relative;
    z-index: -10;
}
.Tetris-wrapper #Pause{
	color:#fff;
	background:#000;
	font-weight: 100;
	font-size:1.25vw;
	padding:5px;
	margin-top: -169px;
	margin-bottom: 169px;
}
.Tetris-wrapper #Instructions{
	font-size:1vw;
	border-top: 1px solid #b8b4b4;
	margin: 10px 55px;
	padding-top:5px;
}
