<!DOCTYPE html>
<html>
<head>
    <title>Incorrect Login</title>
    <meta charset="utf-8" />
</head>

<body>
     <h1>Incorrect Username or Password</h1>
     <h2> Try Again:</h2>
     <form method="post" action="/loginz">
           <label>Username:</label>
           <input id="username" name="username" type="text" />
            <label>Password:</label>
           <input id="password" name="password" type="text" />
           <input type="submit" />
     </form>
</body>
</html>
